name = "Variography"
uuid = "04a0146e-e6df-5636-8d7f-62fa9eb0b20c"
author = "Júlio Hoffimann <julio.hoffimann@gmail.com>"
version = "0.3.6"

[deps]
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
GeoStatsBase = "323cb8eb-fbf6-51c0-afd0-f8fba70507b2"
GeoStatsDevTools = "19e549d1-356f-5655-9f3d-c1d6136da705"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[extras]
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
GR = "28b8d3ca-fb5f-59d9-8090-bfdbd6d07a71"
GeoStatsDevTools = "19e549d1-356f-5655-9f3d-c1d6136da705"
GeoStatsImages = "7cd16168-b42c-5e7d-a585-4f59d326662d"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
QuartzImageIO = "dca85d43-d64c-5e67-8c65-017450d5d020"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
VisualRegressionTests = "34922c18-7c2a-561c-bac1-01e79b2c4c92"

[targets]
test = ["GeoStatsImages", "Pkg", "GR", "GeoStatsDevTools", "Test", "DelimitedFiles", "VisualRegressionTests", "LinearAlgebra", "Plots", "ImageMagick", "QuartzImageIO"]

[compat]
Distances = "≥ 0.5.0"
GeoStatsBase = "≥ 0.4.1"
GeoStatsDevTools = "≥ 0.4.3"
Optim = "≥ 0.15.0"
Parameters = "≥ 0.7.3"
RecipesBase = "≥ 0.2.3"
SpecialFunctions = "≥ 0.3.8"
StaticArrays = "≥ 0.7.0"
julia = "≥ 1.0.0"
